.easy-container{
    font-size: 25px;
    width: 400px;
    position: absolute;
    left: 43%;
    margin-top: 300px;

    input[type='text']{
        width: 100%;
        border: 0;
        background: #ffd60a;
        height: 50px;
        font-size: 16px;
        color: #000814;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .flat-button{
        color: #ffd700;
        font-size: 13px;
        background: 0 0;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid aliceblue;
        margin-top: 25px;
        float: right;
        animation: fadeIn 1s 2s backwards;
        white-space: nowrap;
    }
}