.hard-container{
    font-size: 25px;
    width: 600px;
    position: absolute;
    left: 25%;
    margin-top: 50px;

    .input-container{
        
        position: relative;
        input[type='text']{
            width: 100%;
            border: 0;
            background: #554e30;
            opacity: 50%;
            height: 50px;
            font-size: 16px;
            color: #ffd700;
            text-align: center;
            padding: 0 20px;
            letter-spacing: 25px;
            text-transform: uppercase;
            box-sizing: border-box;
        }

        input[type=text]:focus{
            outline: 2px solid #ffd700;
            opacity: 100%;
        }
    
        .flat-button-send{
            color: #ffd700;
            position: absolute;
            font-size: 13px;
            background: 0 0;
            font-weight: 400;
            font-family: sans-serif;
            text-decoration: none;
            padding: 17px 20px;
            border: 1px solid aliceblue;
            margin-left: 50px;
            animation: fadeIn 1s 2s backwards;
            white-space: nowrap;

            &:hover{
                background: #ffd700;
                color: #000814;
                border: 1px solid#ffd700;
            }
        }
    }

    .answer-container{
        position: relative;
        margin-top: -110px;
        h1{
            width: 100%;
            height: 50px;
            font-size: 50px;
            position: relative;
            margin-left: 210px;
            text-transform: uppercase;
            color: #ffd700;
            display: inline-block;
            
        }
        .side-text{
            font-size: 20px;
            color: aliceblue;
            margin-left: 390px;
            margin-top: -62px;
        }

        .win-text{
            font-size: 30px;
            color: black;
            margin-bottom: 0;
            margin-left: 60px;
            position: relative;
            top: 95px
        }
    }


    .counter-container{
        display: block;
        position: absolute;
        top: 0;
        margin-left: 900px;

        .CircularProgressbar-path {
            stroke: yellow;
        }
        .CircularProgressbar-trail {
            stroke: gray;
        }
        .CircularProgressbar-text {
            fill: yellow;
        }
    }

    .counter-container2{
        display: block;
        position: absolute;
        top: 0;
        margin-left: 900px;

        .CircularProgressbar-path {
            stroke: red;
        }
        .CircularProgressbar-trail {
            stroke: gray;
        }
        .CircularProgressbar-text {
            fill: red;
        }
    }

    .game-mode{
        display: block;
        position: absolute;
        margin-left: -300px;
        top: 0;
        letter-spacing: 10px;
        color: #ffd700;
    }

    .after-game{
        display: block;
        position: absolute;
        margin-left: 800px;
        top: 0;
        .again-button{
            width: 50px;
            height: 50px;
        }
        .again-text{
            width: 100px;
            font-size: 20px;
            color: #ffd700;
            padding-top: 0px;
            margin-top: -10px;
            margin-left: -15px;
        }
    }
}