
html{
    font-size: 62.5;
}

body{
    line-height: 1.5;
}

.card{
    display: grid;
    background-image:linear-gradient(to bottom left, rgba(255, 255, 255, 0.379), rgba(255, 255, 255, 0.097));
    color: rgb(0, 0, 0);
    margin-top: 20px;
    max-width: 750px;
    max-height: 50px;
    align-items: center;
    grid-auto-flow: column;

    .card-left{
        position: relative;
        display: inline-block;
    
        .card-word{
            font-size: 35px;
            letter-spacing: 25px;
            margin-top: -2px;
            margin-left: 65px;
            text-transform: uppercase;
        }
    }
}


.card-right{
    position: relative;

    .green-brick-count{
        font-size: 25px;
        margin-top: -25px;
        margin-left: 77px;
        color: #70e000
    }
    
    .green-brick-name{
        font-size: 8px;
        text-transform: uppercase;
        margin-top: -48px;
        margin-left: 58px;
        color: #000000
    }

    .red-brick-count{
        font-size: 25px;
        margin-top: -51px;
        margin-left: 180px;
        color: #c9184a
    }
    
    .red-brick-name{
        font-size: 8px;
        text-transform: uppercase;
        margin-top: -48px;
        margin-left: 167px;
        color: #000000
    }
}

