.home-page{
    img{
        width: 600px;
        position: absolute;
        left: 30%;
        margin-top: 50px;
        animation: rotateIn 1s linear both;
        animation-delay: 0.4s;
    }

    .game{
        font-size: 25px;
        width: 400px;
        position: absolute;
        left: 43%;
        margin-top: 300px;
    }

    .flat-button{
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid aliceblue;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 2s backwards;
        white-space: nowrap;
    
        &:hover{
            background: #ffd700;
            color: #000814;
            border: 1px solid#ffd700;
        }
    }
    
    .hard-mode{
        margin-top: 110px;
        margin-left: -139px;
    }

    footer {
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        color: aliceblue;
        height: 2.5rem;
      }

    a{
        text-decoration: none;
        color: #ffd700;
    }

    .easy-info{
        position: absolute;
        margin-top: 295px;
        margin-left: 825px;
        z-index: 99;
        color: #ffd700;
        font-size: 20px;
        text-align: left;
    }
    .hard-info{
        position: absolute;
        margin-top: 375px;
        margin-left: 825px;
        z-index: 99;
        color: #ffd700;
        font-size: 20px;
    }
}